terraform {
  backend "s3" {
    bucket         = "<S3_BUCKET>"
    key            = "market_dashboard/application_management/terraform.tfstate"
    region         = "<AWS_REGION>"
    dynamodb_table = "<DYNAMODB_TABLE>"
  }
}
